@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@use './body.scss';
@use './app.scss';
@use './header.scss';


.tabs-container {

    .tabs-list {
        padding-bottom: 0;

        &-item {
            margin: 0 0.25rem;
            padding: 0.5rem 1rem;

            color: rgb(30 41 59 / var(--tw-text-opacity, 1));
            background-color: rgb(203 213 225 / var(--tw-bg-opacity, 1));

            border-radius: 0.5rem 0.5rem 0 0;
            border: 1px solid rgb(241 245 249 / var(--tw-bg-opacity, 1));

            &[data-state=active] {
                color: #fff;
                background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
            }
            &:hover {
                color: #fff;
                background-color: rgb(71 85 105 / var(--tw-bg-opacity, 1));
                &[data-state=active] {
                    background-color: rgb(34 197 94 / var(--tw-bg-opacity, 0.75));
                }
            }
        }
    }
}

button {
    transition: all 250ms ease-in-out;
    border-radius: 0.5rem;
    white-space: nowrap;

    &:after {
        content: "";
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff);
        height: 155px;
        left: -75px;
        opacity: 1;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        width: 50px;
        z-index: 1;

        &:hover {
        
            &:after {
                transition: all .55scubic-bezier(.19,1,.22,1);
            }
        }
    }
}
